{% extends "@HandMade/layout.html.twig" %}
{% block body %}
    <div class="news-block">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h2 class="title-block">{{ 'Останні новини' | trans }}</h2>
            <hr>
        </div>
      {% include '@HandMade/blocks/latestNews.html.twig' with { 'articles': latestNews}%}
      <hr class="col-md-6 col-md-offset-3">
    </div>
    <div class="products-block">
        <div class="col-md-6 col-md-offset-3 text-center">
            <h2 class="title-block">{{ 'Останні пропозиції' | trans }}</h2>
            <hr>
        </div>
      {% include '@HandMade/blocks/latestProducts.html.twig' with { 'products': latestProducts}%}
      <hr class="col-md-6 col-md-offset-3">
    </div>
{% endblock %}
