.news-block {
    .title-block {
        margin-top: 0px;
    }
    .latest-news {
        .news {
            text-align: center;
            img {
                height: 140px;
                width: 140px;
            }
            .description {
                text-align: justify;
            }
        }
    }
}

.products-block {
    .title-block {
        margin-top: 0px;
    }
    .latest-products {
        .products {
            img {
                height: 200px;
                width: 200px;
            }
        }
    }
}

